---
import Layout from "../layouts/Layout.astro";

import TopHome from "../vue/components/home/TopHome.vue";
import Newsletter from "../components/Newsletter.astro";
import TextWithImage from "../vue/components/TextWithImage.vue";

import Ressources from "../vue/components/Ressources.vue";

const apiURL = import.meta.env.PUBLIC_API;

const url = `${apiURL}/Site-configuation?populate=deep,4`;

const { data } = await fetch(url).then((res) => res.json());

const doc = data.attributes;

const { contentBloc } = doc;

const contentBlocsToDisplay = contentBloc.filter((bloc) => bloc.isShown);
---

<Layout
  title={`Bienvenue sur ${doc.siteName}`}
  metaDescription={doc.siteDescription}
>
  <main>
    <section>
      <TopHome
        subtitle={doc.homeSubtitle}
        explanation={doc.homeExplanation}
        heroImage={doc.hero.data.attributes}
      />
    </section>

    <section>
      <Newsletter title="S'abonner à la Lettre Psy" />
    </section>

    {contentBlocsToDisplay.length && (
      <section class="bg-gray-200">
        <div class="py-10 px-5 container mx-auto">
          <TextWithImage contents={contentBlocsToDisplay} />
        </div>
      </section>
    )}

    <section>
      <div class="pt-10">
        <Ressources ressources={doc.ressources} />
      </div>
    </section>
  </main>
</Layout>

<style>

</style>
