---
import { Markdown } from 'astro-remote';

import Layout from "../layouts/Layout.astro";

import HeaderPage from "../vue/components/HeaderPage.vue";
import LettrePsyItems from "../vue/components/LettrePsyItems.vue";
import NewsLetterForm from "../vue/components/NewsletterForm.vue";
import ContactForm from "../vue/components/ContactForm.vue";

const apiURL = import.meta.env.PUBLIC_API;

const url = `${apiURL}/pages/?filters[slug]=emails-prives&populate=deep,4`;

const { data } = await fetch(url).then((res) => res.json());

const doc = data[0].attributes;

const imageOG = doc.imageOG?.data?.attributes.url;

//Display getresponse number of subscribers
const campaignId = "qD1uT";
const getReponseKey=import.meta.env.PUBLIC_GETRESPONSE;
const getResponseApiUrl=`https://api.getresponse.com/v3/campaigns/statistics/list-size?query[campaignId]=${campaignId}&query[groupBy]=total`;

const headers = {
  "X-Auth-Token": `api-key ${getReponseKey}`,
};

const request = new Request(getResponseApiUrl, {
  method: "GET",
  headers
});

const response = await fetch(request).then(res=>res.json());

const totalSubscribers=response[0].totalSubscribers


---

<Layout title={doc.title} metaDescription={doc.description} og={imageOG}>
  <article>
    <div v-if="doc" class="bg-gray-100 pb-14 content-page">
      <HeaderPage doc={doc} />



      <div
        class="container mx-auto py-5 px-5 md:w-10/12 lg:w-9/12 xl:w-7/12 content"
      >
        {doc.image.url && (
          <img
            src={doc.image?.url}
            class="mb-7"
            v-if="doc.image?.url"
            alt={doc.image?.alt}
            height={doc.image?.height}
            width={doc.image?.width}
          />
        )}

        <div class="content">
            { doc.content && (
              <Markdown content={doc.content} />
            )}

          <p class="text-2xl text-center">Rejoignez les {totalSubscribers} personnes inscrites !</p>

          <div class="border my-5 border-emerald-600 rounded p-5">
            <NewsLetterForm client:load codeList="qD1uT"  />
          </div>


          <h2>Envie de savoir à quoi ressemble la Lettre Psy ?</h2>
          <p>Voici quelques anciennes éditions qui vous permettrons de vous faire une idée du contenu que nous proposons :</p>

          <LettrePsyItems />
        </div>
      </div>
    </div>
  </article>
</Layout>
