---
import Layout from "../../layouts/Layout.astro";
import imageService from "../../services/imageService";

import HeaderPage from "../../vue/components/HeaderPage.vue";
import ListAlternate from "../../vue/components/ListAlternate.vue";

const apiURL = import.meta.env.PUBLIC_API;

const doc = {
  title: "Alliance",
  logo: "https://res.cloudinary.com/dyyzsnhr4/image/upload/v1658388922/computer_f6a7acae0f.svg?updated_at=2022-07-21T07:35:24.022Z",
  description:
    "Catherine la Psy et Laure de LUV coaching vous proposent des ateliers en commun dans lesquel elles vous transmettent leurs connaissances théoriques et pratiques.",
};

const { data } = await fetch(
  `${apiURL}/products/?sort=order:desc&filters[isOpen]=true&filters[isDisplayed]=true&filters[type][$contains]=Alliance&populate=*`
).then((res) => res.json());

const products = data.map((element) => {
  const product = element.attributes;
  product.dir = "/alliance";
  product.image = imageService.formatImage(element.attributes.image, "small");
  return product;
});
---

<Layout title={doc.title} metaDescription={doc.description}>
  <article>
    <div class="bg-gray-100">
      <HeaderPage doc={doc} />
      <div
        class="container mx-auto py-5 px-5 md:w-10/12 lg:w-9/12 xl:w-7/12 content"
      >
        <h2>Alliance : Catherine la Psy & Laure LUV coaching</h2>

        <ListAlternate items={products} textBtn="En savoir plus" />
      </div>
    </div>
  </article>
</Layout>

<style scoped>
  h3 {
    font-family: "Lexend Deca", sans-serif;
  }
</style>
