---
import "../assets/css/base.scss";

import NavBar from "../vue/components/NavBar.vue";
import Footer from "../vue/components/Footer.vue";
import Message from "../vue/components/Message.vue";

const { title, metaDescription, imageOG } = Astro.props;

const apiURL = import.meta.env.PUBLIC_API;

const { menu: menuFooter } = await fetch(`${apiURL}/menus/menu-footer`).then(
  (res) => res.json()
);

const linksFooter = menuFooter.items.map((item) => {
  return {
    id: item.id,
    text: item.title,
    to: item.url,
  };
});

const { menu: MenuPrincipal } = await fetch(
  `${apiURL}/menus/menu-principal?nested`
).then((res) => res.json());

const links = MenuPrincipal.items.map((item) => {
  const formatChildrensMenu = () => {
    if (item.children.length) {
      return item.children.map((child) => {
        return {
          title: child.title,
          to: child.url,
          target: child.target,
          image: "",
        };
      });
    } else {
      return null;
    }
  };

  return {
    id: item.id,
    text: item.title,
    to: item.url,
    meta: { subMenu: item.children.length },
    children: formatChildrensMenu(),
  };
});

// Display message alert
const url = `${apiURL}/Site-configuation?populate=deep,4`;
const { data } = await fetch(url).then((res) => res.json());

const message = data.attributes.Message;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={imageOG} />
    <meta property="og:site_name" content="Catherine la Psy" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playfair+Display:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <script
      type="text/partytown"
      data-cookiecategory="analytics"
      src="https://www.googletagmanager.com/gtag/js?id=UA-221308343-1"
    >

    </script>

    <script
      type="text/partytown"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    >

    </script>

    <script data-cookiecategory="analytics">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-221308343-1");
    </script>

    <!-- https://github.com/orestbida/cookieconsent -->
    <script>
      import "../plugins/cookieconsent/cookieconsent.css";
      import "../plugins/cookieconsent/cookieconsent.js";

      window.addEventListener("load", function () {
        // obtain cookieconsent plugin
        var cookieconsent = initCookieConsent();

        // run plugin with config object
        cookieconsent.run({
          autorun: true,
          current_lang: "en",
          autoclear_cookies: true,
          page_scripts: true,

          onFirstAction: function (user_preferences, cookie) {
            // callback triggered only once
          },

          onAccept: function (cookie) {
            // ... cookieconsent accepted
          },

          onChange: function (cookie, changed_preferences) {
            // ... cookieconsent preferences were changed
          },

          languages: {
            en: {
              consent_modal: {
                title: "Cookies",
                description:
                  "Nous utilisons des cookies d’origine et des cookies tiers. Ces cookies sont destinés à vous offrir une navigation optimisée sur ce site web et de nous donner un aperçu de son utilisation, en vue de l’amélioration des services que nous offrons. En poursuivant votre navigation, nous considérons que vous acceptez l’usage des cookies.",
                primary_btn: {
                  color: "#ccc",
                  text: "Accepter",
                  role: "Tout accepter", // 'accept_selected' or 'accept_all'
                },
                secondary_btn: {
                  text: "Préférences",
                  role: "Préférences", // 'settings' or 'accept_necessary'
                },
              },
              settings_modal: {
                title: "Gestion des cookies",
                save_settings_btn: "Sauvegarder",
                accept_all_btn: "Tout accepter",
                reject_all_btn: "Tout refuser", // optional, [v.2.5.0 +]
                cookie_table_headers: [
                  { col1: "Name" },
                  { col2: "Domain" },
                  { col3: "Expiration" },
                  { col4: "Description" },
                  { col5: "Type" },
                ],
                blocks: [
                  {
                    title: "Utilisation des cookies",
                    description:
                      "Nous utilisons les cookies à des fins statistiques. Vous pouvez choisir ceux que vous souhaitez désactier.",
                  },
                  {
                    title: "Cookies obligatoires",
                    description:
                      "Ces cookies sont nécessaires au fonctionnement du site. Sans eux son fonctionnement sera altéré.",
                    toggle: {
                      value: "nécessaires",
                      enabled: true,
                      readonly: true,
                    },
                  },
                  {
                    title: "Cookies et statistiques",
                    description:
                      "Nous utilisons l'outil Google Analytics à des fins statistiques afin d'améliorer nos services.",
                    toggle: {
                      value: "analytics",
                      enabled: false,
                      readonly: false,
                    },
                    cookie_table: [
                      {
                        col1: "^_ga",
                        col2: "google.com",
                        col3: "2 years",
                        col4: "description ...",
                        col5: "Permanent cookie",
                        is_regex: true,
                      },
                      {
                        col1: "_gid",
                        col2: "google.com",
                        col3: "1 day",
                        col4: "description ...",
                        col5: "Permanent cookie",
                      },
                    ],
                  },
                  {
                    title: "Plus d'informations",
                    description:
                      'Pour toute question veuillez, veuillez nous contacter : <a class="cc-link" href="/contact/">Page de contact</a>.',
                  },
                ],
              },
            },
          },
        });
      });
    </script>
  </head>
  <body>
    <main class="font-readex">
      <NavBar client:load links={links} />
      <Message
        title={message.title}
        content={message.content}
        isShown={message.isShown}
        link={message.link}
        logo={message.logo.data.attributes}
      />
      <slot />
      <Footer links={linksFooter} />
    </main>
  </body>
</html>
