---
import "../assets/css/base.scss";

import NavBar from "../vue/components/NavBar.vue";
import Footer from "../vue/components/Footer.vue";
import Message from "../vue/components/Message.vue";

const { title, metaDescription, imageOG } = Astro.props;

const apiURL = import.meta.env.PUBLIC_API;

const { menu: menuFooter } = await fetch(`${apiURL}/menus/menu-footer`).then(
  (res) => res.json()
);

const linksFooter = menuFooter.items.map((item) => {
  return {
    id: item.id,
    text: item.title,
    to: item.url,
  };
});

const { menu: MenuPrincipal } = await fetch(
  `${apiURL}/menus/menu-principal?nested`
).then((res) => res.json());

const links = MenuPrincipal.items.map((item) => {
  const formatChildrensMenu = () => {
    if (item.children.length) {
      return item.children.map((child) => {
        return {
          title: child.title,
          to: child.url,
          target: child.target,
          image: "",
        };
      });
    } else {
      return null;
    }
  };

  return {
    id: item.id,
    text: item.title,
    to: item.url,
    meta: { subMenu: item.children.length },
    children: formatChildrensMenu(),
  };
});

// Display message alert
const url = `${apiURL}/Site-configuation?populate=deep,4`;
const { data } = await fetch(url).then((res) => res.json());

const message = data.attributes.Message;

const fonts =
  "https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Playfair+Display:ital,wght@0,400;1,700&display=swap";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={imageOG} />
    <meta property="og:site_name" content="Catherine la Psy" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href={fonts} rel="preload" as="style" />

    <link rel="stylesheet" href={fonts} media="print" onload="this.media='all'"
    />

    <noscript>
      <link rel="stylesheet" href={fonts} />
    </noscript>

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- <script
      type="text/partytown"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    > -->
    <script
      data-cookiecategory="analytics"
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-221308343-1"
    >

    </script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-221308343-1");
    </script>

    <link href="/plugins/cookieconsent/cookieconsent.css" rel="stylesheet" />
  </head>
  <main>
    <NavBar client:load links={links} />
    <Message
      title={message.title}
      content={message.content}
      isShown={message.isShown}
      link={message.link}
      logo={message.logo.data.attributes}
    />
    <slot />
    <Footer links={linksFooter} />

    <script is:inline defer src="/plugins/cookieconsent/cookieconsent.js">

    </script>

    <script is:inline defer src="/plugins/cookieconsent/cookieconsent.init.js">

    </script>
  </main>

</html>
