---
import Layout from "../../layouts/Layout.astro";
import imageService from "../../services/imageService";

import HeaderPage from "../../vue/components/HeaderPage.vue";
import ListAlternate from "../../vue/components/ListAlternate.vue";

const apiURL = import.meta.env.PUBLIC_API;

const doc = {
  title: "Tous nos séjours",
  //logo: "https://res.cloudinary.com/dyyzsnhr4/image/upload/v1658388924/palm_e36975c2b3.svg?updated_at=2022-07-21T07:35:26.248Z",
  logo: "",
  description:
    "Des séjours psy pour travailler sur soi de manière intensive dans des cadres idylliques.",
};

const { data } = await fetch(
  `${apiURL}/products/?sort=order:desc&filters[isOpen]=true&filters[isDisplayed]=true&filters[type][$contains]=Séjour&populate=*`
).then((res) => res.json());

const products = data.map((element) => {
  const product = element.attributes;
  product.dir = "/ateliers";
  product.image = imageService.formatImage(element.attributes.image, "small");
  return product;
});
---

<Layout title={doc.title} metaDescription={doc.description}>
  <article>
    <div class="bg-gray-100">
      <HeaderPage doc={doc} />
      <div
        class="container mx-auto py-5 px-5 md:w-10/12 lg:w-9/12 xl:w-7/12 content"
      >
        <ListAlternate items={products} textBtn="En savoir plus" />
      </div>
    </div>
  </article>
</Layout>

<style scoped>
  h3 {
    font-family: "Lexend Deca", sans-serif;
  }
</style>
